html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  background-color:#333;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn a:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: 1.125rem;
}

.btn-subtle a:hover {
  background-color: #666;
}

.btn-ghost {
  background-color:#fff;
  display: inline-block;
  color: #000;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-color: #000;
  font-size: 1.125rem;
}

.btn-ghost a:hover {
  background-color: #666;
}

.btn-warning {
  background-color: #f33;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-color: #000;
  font-size: 1.125rem;
}

.btn-warning a:hover {
  background-color: #933;
}

.btn-small {
  background-color:#333;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: .875rem;
}

.btn-small a:hover {
  background-color: #000;
}

.btn-subtle-small {
  background-color: #ccc;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: .875rem;
}

.btn-ghost-small {
  background-color:#fff;
  display: inline-block;
  color: #000;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-color: #000;
  font-size: .875rem;
}

.btn-warning-small {
  background-color: #f33;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-color: #000;
  font-size: .875rem;
}

.btn-big {
  background-color:#333;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-big a:hover {
  background-color: #000;
}

.btn-subtle-big {
  background-color: #ccc;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-ghost-big {
  background-color:#fff;
  display: inline-block;
  color: #000;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-color: #000;
  font-size: 1.5rem;
}

.btn-warning-big {
  background-color: #f33;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;
  padding: .4em .75em .3em;
  text-decoration: none;
  border-color: #000;
  font-size: 1.5rem;
}
